<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
        <div style="text-align:center">
            <span><h2>Summary for Homework in 1006</h2></span>
        </div>
        <!--Brief summary of each assignment!-->
        <p> </p>
        <div>
            <p><h3>Homework1</h3></p>
            <p>PartA: Theory part of pseudocode, algorithm, binary and truth table.</p>
            <p>PartB: Get started to structure a program and perform operations on lists.</p>
            <p><h3>Homework2</h3></p>
            <p>PartA: Theory part of selection, sequential and binary sort, 
                as well as time complexity.</p>
            <p>PartB: Use simulations to solve a physical problem and dip into the machine learning
                by analyzing a real dataset.</p>
            <p><h3>Homework3</h3></p>
            <p>PartA: Theory part of calculating the time complexity, distinguishing list
                from library and dip into the recursive function.</p>
            <p>PartB: Learn the percolation theory and practice reading & writing a file
                and the use of recursion.</p>
            <p><h3>Homework4</h3></p>
            <p>Try to get comfortable with an oject-oriented codebase, reading and 
                interpreting error message.</p>
            <p><h3>Midterm Project</h3></p>
            <p>Learn to process PPM Image and start to write skeleton code and tester by 
                ourselves for the first time.</p>
            <p><h3>Homework5</h3></p>
            <p>Complete the machine learning part of the real dataset analysis with 
                the application of pandas, sklearn, seaborn and knn. Seaborn is good way
                to visualize data.</p>
            <p><h3>Final Project</h3></p>
            <p>Use GitHub to build webistes. Get familiar with html.</p>   
        </div>
    </body>
</html>
    
    
    
    
    </body>
</html>
