<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
        <!--My name!-->
        <div style="text-align:center">
            <span><h1>Qi Xian (Cindy)</h1><span>
        </div>
        <div style="text-align:center">
            <span>A visiting student :D<span>
        </div>
        <p align="center">
            <img src="/static/images/mypicture.jpg" alt="Cindy Xian" style="width:216px;height:288px"/>
        </p>
        <!--My Grade!-->
        <div style="text-align:center">
            <span>
                <h3>My Grade:</h3>
                <h> 3.87 </h>
            <span>
        </div>
        <!--My intended major!-->
        <div style="text-align:center">
            <span>
                <h3>My Intended Major:</h3>
                <p>Education</p>
            <span>
        </div>
        <!--Links to websites!-->
        <div style="text-align:center">
            <span>
                <h3>Link to My Websites:</h3>
                <a href="/classes">Visit Classes Website</a>
                <p><a href="/assignments">Visit Assignments Website</a></p>
            <span>
        </div>
        <div style="text-align:center">
            <span>
                <h3>One of My favorite Website:</h3>
                <a href="https://www.lynda.com/Programming-Languages-training-tutorials/1467-0.html?previousCategory=50">
                    Lynda.com</a>
            <span>
        </div>

    
    
    </body>
</html>

