<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <div style="text-align:center">
        <span><h2>Qi Xian (Cindy)</h2><span>
    </div>
        
    <table border='1' align="center">
        <thead>
            <tr>
                <td colspan="2" align="center"><h3>Course Taken in Spring 2020</h3></td>
            </tr>
            </thead>
            <tbody>                                                                
                <tr>
                    <td width="50px" align="center">1</td>
                    <td align="center">INTRO TO COMP FOR ENG/APP SCI</td>
                </tr>
                <tr>
                    <td width="50px" align="center">2</td>
                    <td align="center">SYSTEMS & BEHAVIORAL NEUROSCIENCE-LEC</td>
                </tr>
                <tr>
                    <td width="50px" align="center">3</td>
                    <td align="center">SOCIAL PSYCHOLOGY-LEC</td>
                </tr>
                <tr>
                    <td width="50px" align="center">4</td>
                    <td align="center">MONEY AND BANKING</td>
                </tr>
            </tbody>
    </table>
    

    <p>        
        <table border='1' style="word-break: break-all;  word-wrap:break-word;" width="960px" align="center">
             <thead>
                <tr>
                    <td colspan="2" align="center"><h3>My favorite Class: INTRO TO COMP FOR ENG/APP SCI</h3></td>
                </tr>
                </thead>
            <tbody>  
                 <tr>                    
                     <td width="100px" align="center"> 
                         <h3>Reasons:</h3>
                     </td>
                     <td>This is my first CS class. I have no CS foundation before, so I was struggling 
                        through all the homework before midterm. I spent so many hours catching up with 
                        the class and figuring out the things we've learned in class every week. But what
                        makes my happy is that I feel like I can finally get started to program without
                        furthur help. When I come across a problem, I can figure it out myself. So, although
                        the process is difficult for me and I think it's the same for other students who
                        do not have CS foundation before, I've learned so many things and dip into this field.
                        That will benefit myself in the future because I am trying to use python to do a project 
                        and python is really useful. At last, thank the professor and all TAs for your hard
                        work and help!! :)</td>
                 </tr>        
        </table>
    </p>
   
    </body>
</html>