<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
        <p><h1>Qi Xian (Cindy)</h1></p>
        <p>A visiting student :D</p>
        <img src="/static/images/mypicture.jpg" alt="Cindy Xian" style="width:216px;height:288px"/>
        <p><h3>My Grade</h3></p>
        <h> 3.8 </h>
        <h3>My Intended Major:</h3>
        <h>Education</h>
        <h3>Link to My Websites:</h3>
            <a href="/classes">Visit Classes Website</a>
        <p><a href="/assignments">Visit Assignments Website</a></p>
        <h3>One of My favorite Website:</h3>
        <a href="https://www.lynda.com/Programming-Languages-training-tutorials/1467-0.html?previousCategory=50">
            Lynda.com</a>

    
    
    </body>
</html>

